<ion-header>

  <ion-navbar>
    <ion-title>JOURNAL</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background">


        <ion-item>
          <ion-label>Date<span>&nbsp;<sup>*</sup></span></ion-label>
          <ion-input [(ngModel)]="date" type="text" placeholder="enter the date"></ion-input>
        </ion-item>

         <ion-item>
          <ion-label>Num<span>&nbsp;<sup>*</sup></span></ion-label>
          <ion-input [(ngModel)]="num" type="text" placeholder="Fill num "></ion-input>
        </ion-item>
        

        <ion-item>
          <ion-label>Details<span>&nbsp;<sup>*</sup></span></ion-label>
          <ion-textarea [(ngModel)]="details" type="text" placeholder="Fill the details"></ion-textarea>
        </ion-item>
        
        <ion-item>
          <ion-label>Withdrawal<span>&nbsp;<sup>*</sup></span></ion-label>
          <ion-input [(ngModel)]="withdrawal" type="text" placeholder="Fill your withdrawal amount"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label>Deposit<span>&nbsp;<sup>*</sup></span></ion-label>
          <ion-input [(ngModel)]="deposit" type="text" placeholder="Fill your deposit amount"></ion-input>
        </ion-item>
        
       <!-- <ion-item>
          <ion-select [(ngModel)]="name" multiple="false">
	    <ion-option  *ngFor="let account of accountList"[value]="account.name">{{account.name}}</ion-option>
	</ion-select>
        </ion-item>-->

        
	 

        <ion-item>
          <ion-label>Bank Reconcilation<span>&nbsp;<sup>*</sup></span></ion-label>
          <ion-input [(ngModel)]="bank" type="text" ></ion-input>
        </ion-item>

        <br>
          <button ion-button type="submit" (click)="journaldata(date,num,details,withdrawal,deposit,bank)" full>Add Entry</button>
  

  
  
</ion-content>
