<ion-header>
  <ion-navbar>
    <ion-title>
      Menu
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background" >
 <ion-card>
    <ion-card-header>
      Menu
    </ion-card-header>
    <ion-card-content>
<ion-list class="background">
<button ion-item (click)="addaccount()">
  
    Create New Account(s)
  </button>
  <button ion-item (click)="update()">
   
    Manage Your Account
  </button>
  
 <!-- <button ion-item (click) ="delete()">
    <ion-icon name="md-trash" item-start></ion-icon>
   Delete an Account
  </button>-->
  <!--<button ion-item (click)="loadjournal()">
    <ion-icon name="ios-cash" item-start></ion-icon>
   Make a Deposit or Withdrawl
  </button>
  <button ion-item (click)="loadbudget()">
  <ion-icon name="ios-cash" item-start></ion-icon>
   Make A budget Deposit
  </button>-->
  <button ion-item (click)="loadtransfer()">
  
  Make a Transfer
  </button>
 
  <button ion-item (click)="loaduserguide()">
  
  User-Guide
  </button>

  
     <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
   
</ion-list>
    </ion-card-content>
 </ion-card>
</ion-content>


