<!--<ion-header>

  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
    <ion-buttons end>
      <button (click)="addaccount()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>-->
<ion-header>
  <ion-navbar>
    <ion-title>CheckBook</ion-title>
		 
  </ion-navbar>
</ion-header>

<ion-content padding class="background">
	<button ion-button color="light" (click)="open('help')">Help</button>
	<button ion-button color="light" (click)="open('sample')">Add Entry</button>
	<button ion-button color="light" (click)="open('checkbook')">Checkbook</button>

 




  <div class="help-block" *ngIf="display.help">
	
		<div class="help-body">
			<p>
			Sample Check Book Register comprising of Sample Register sheet is an example Check Book Register to understand the Check Book Register application. The focus of the Sample sheet is to help user understand how Check Book Register should be maintained by a user. The user can also remove the sample values individually by clicking on cross button, and can maintain it as a separate Check Book Register for the family members or business partner simultaneously.
			</p><br>

			<p>
			Check Book Register comprising of Check Book Register sheet is for maintaining for maintaining transaction records for your enterprise or personal use.
			</p><br>
<p> Explanation of tables in Sample and Check Book Register sheets</p>
		</div>
			<table>
				<tr>
					<td><b>Column Name</b></td>
					<td><b>Description</b></td>
				</tr>
				<tr>
					<td>Date</td>
					<td>Date of transaction. The date when the payment is due or the date when the payment is received.</td>
				</tr>
				<tr>
					<td>Num</td>
					<td>Type of transcation</td>
				</tr>	
				<tr>
					<td>Description</td>
					<td>Details of the Description</td>
				</tr>
				<tr>
					<td>R</td>
				
					<td>R is for Reconsile.When balancing your CheckBook,add an R in this column to indicate that the transaction is correct,and reconciled with your bank statement</td>
				</tr>
				<tr>
					<td>Withdrawal,Payment</td>
					<td>Amount Withdrawn</td>
				</tr>	
				<tr>
					<td>Deposit,Credit</td>
					<td>Amount Deposited</td>
				</tr>
		
						
				<tr>
					<td>Balance</td>
					<td>Account Balance</td>
				</tr>
				</table>
		</div>


	<div class="sample-block" *ngIf="display.sample">
	<!--	<ion-item>
		 <ion-label>Account</ion-label>
	  <ion-select [(ngModel)]="accountname" multiple="false" >
	    <ion-option  *ngFor='let account of accountList' [value]="account">{{account.name}}</ion-option>
	  </ion-select>
      </ion-item>-->
			  <ion-item>
     <ion-label>Accounts</ion-label>
	  <ion-select [(ngModel)]="from" multiple="false" >
	    <ion-option  *ngFor='let account of accountList' [value]="transfer">{{account.name}}</ion-option>
	  </ion-select>
      </ion-item>
		<ion-item>
		<ion-label><b>Date</b></ion-label>
			<ion-input type="text" [(ngModel)]="date"></ion-input>
		</ion-item>
		<ion-item>
		<ion-label><b>Num</b></ion-label>
			<ion-input  [(ngModel)]="num"></ion-input>
		</ion-item>
		<ion-item>
		<ion-label><b>Description</b></ion-label>
			<ion-textarea [(ngModel)]="details"></ion-textarea>
		</ion-item>
		<ion-item>
		<ion-label><b>Withdraw</b></ion-label>
			<ion-input [(ngModel)]="withdrawal"></ion-input>
		</ion-item>
		<ion-item>
		<ion-label><b>Deposit</b></ion-label>
			<ion-input [(ngModel)]="deposit"></ion-input>
		</ion-item>
		<ion-item>
		<ion-label><b>R</b></ion-label>
			<ion-input [(ngModel)]="bank"></ion-input>
		</ion-item>
		
		<button ion-button type="submit" (click)="logEntry(from,date,num,details,withdrawal,deposit,bank)">Add Entry</button>

		<button ion-button type="submit" (click)="clear()">Clear Entry</button>
</div>
	

	<!-- Display the help block here -->
	<div class="checkbook-block" *ngIf="display.checkbook">
<ion-list>
		<ion-item>
		 <ion-label>Account</ion-label>
	  <ion-select [(ngModel)]="accountname" multiple="false" (ionChange)="showsjournal(accountname)" >
	    <ion-option  *ngFor='let account of accountList' [value]="account">{{account.name}}</ion-option>
	  </ion-select>
		</ion-item>
	
</ion-list>




				<ion-row class="row-header">
				<ion-col>Date</ion-col>
				<ion-col>Details</ion-col>
				<ion-col>Credit</ion-col>
				<ion-col>Deposit</ion-col>
				<ion-col>Balance</ion-col>
			<!--	<ion-col>Balance</ion-col>-->
			</ion-row>
			<br><br>
			<ion-row *ngFor='let dates of datesList' (tap)="updateRow(entry)">
				<ion-col>{{ dates.date}} </ion-col>
				<ion-col>{{ dates.details}} </ion-col>	
				<ion-col>{{ dates.withdrawal}} </ion-col>
				<ion-col>{{ dates.deposit}} </ion-col>
				<ion-col>{{dates.balance}}</ion-col>
	
	
		

</ion-row>
		
              <ion-row>
        	<ion-col  >  <b> Total  Balance</b></ion-col>
	        <ion-col  [ngClass]="{'red':totalJournalbalance < 0}"><b> {{totalJournalbalance}}</b></ion-col>
              </ion-row>
           

			
	
	</div>
		
</ion-content>