<!--
  Generated template for the BudgtdepoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>BudgetDeposit</ion-title>
  </ion-navbar>
</ion-header>
  <ion-content class="background">
 <br>
      <ion-item>
        <ion-label>Date<span>&nbsp;<sup>*</sup></span></ion-label>
        <ion-input type="text" [(ngModel)]="date"></ion-input>
      </ion-item>
      
    
      <ion-item>
        <ion-label>Details</ion-label>
        <ion-input type="text"[(ngModel)]="details"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Amount<span>&nbsp;<sup>*</sup></span></ion-label>
        <ion-input type="number" [(ngModel)]="deposit"></ion-input>
      </ion-item>
<ion-item>
<ion-list>
      <button ion-button type="submit" (click)="depositbudget(date,details,deposit)">Deposit Budget</button>
      </ion-list>
</ion-item>
   

</ion-content>
