page-journal {

      .background
    {
        background-image:url('../assets/b.jpg');
    }
    .scroll-content
    {
        align-content: top;
        display: flex;
        flex-direction: column;
        justify-content: top;
        text-align: top;
    }
    ion-card.card{
        align-content: top;
        box-shadow: none;
        background: rgba(70,70, 70, 0.4);
        border-radius: 7px;
    }
    .ion-label
    { 
        color: #000;
    }
    a,p,
    ion-card-header.card-header
    {
color: #000;
    }
.list >.item-block:first-child{
    border: medium none;
}
.p{
    color: #000;

}
    .item{
        margin-bottom: 10px;
        background: rgba(200,255, 255,0.5);
        border: medium none;
        
        .text-input,{
            color: #000;
        }
        *:-moz-placeholder
        {
            color:#fff!important;
        }
        *:-ms-input-placeholder{
            color:#fff!important;
        }
        *::-webkit-input-placeholder{
            color: #fff!important;
        }
        input::-moz-placeholder{
            color: #fff!important;
        }
        input:-moz-placeholder
        {
            color: #fff!important;
        }

}

}
