<!--
  Generated template for the JournalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Transfer</ion-title>
  </ion-navbar>

</ion-header>
<ion-content class="background">
 <br>
       <ion-item>
        <ion-label>Date<span>&nbsp;<sup>*</sup></span></ion-label>
        <ion-input type="text" [(ngModel)]="date"></ion-input>
      </ion-item>
         <ion-item>
        <ion-label>Amount<span>&nbsp;<sup>*</sup></span></ion-label>
        <ion-input type="text" [(ngModel)]="amount"></ion-input>
      </ion-item>
      <ion-item>

     <ion-label>FROM</ion-label>
	  <ion-select [(ngModel)]="from" multiple="false" >
	    <ion-option  *ngFor='let account of accountList' [value]="transfer">{{account.name}}</ion-option>
	  </ion-select>
      </ion-item>
      <ion-item>


     <ion-label>TO</ion-label>
	  <ion-select [(ngModel)]="to" multiple="false" >
	    <ion-option  *ngFor='let account of accountList' [value]="transfer">{{account.name}}</ion-option>
	  </ion-select>
      </ion-item>
      

     
       <ion-item>
        <ion-label> Reason<span>&nbsp;<sup>*</sup></span></ion-label>
        <ion-input type="text" [(ngModel)]="reason"></ion-input>
      </ion-item>

       
      <ion-item>
<ion-list>
      <button ion-button (click)="transferdata(date,amount,from,to,reason)" >Transfer</button>
      </ion-list>
</ion-item>
      
     
 

</ion-content>
