<ion-header>
  <ion-navbar>
    <ion-title>Account-List</ion-title>
  </ion-navbar>
</ion-header>
 <ion-content>
  <ion-card>
    <ion-card-header>
 Accounts
    </ion-card-header>
<ion-list>
  <ion-item-sliding  *ngFor="let account of accountList">
  <ion-item>
    <b>  {{account?.name}}</b>
      </ion-item>
    <ion-item-options side="left">
   <button ion-button color="danger" (click)="del(account.id)">
      <ion-icon name="md-trash">   Delete  </ion-icon>
    </button>
  </ion-item-options>
  <ion-item-options side="right">
   <button ion-button color="secondary" (click)="add(account.id)">
      <ion-icon name="ios-cash">Add Transaction  </ion-icon>
    </button>
  
   <button ion-button color="primary" (click)="deposit(account.id)">
      <ion-icon name="ios-cash">   Deposit  </ion-icon>
    </button>
  </ion-item-options>
  </ion-item-sliding>

</ion-list>
  </ion-card>
</ion-content>

