<!--
  Generated template for the CreateAccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Add Account</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="background" >

  
  <br>
    <ion-item>
        <ion-label>Date<span>&nbsp;<sup>*</sup></span></ion-label>
        <ion-input type="text" [(ngModel)]="date"></ion-input>
      </ion-item>
  <ion-item>
    <ion-label stacked> Account Name</ion-label>
    <ion-input [(ngModel)]="accountname" type="text" placeholder="Fill your account name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Pay Budget Period</ion-label>
    <ion-input [(ngModel)]="payperiodbudget" type="text" placeholder="0.00"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Opening Balance</ion-label>
    <ion-input [(ngModel)]="opbalance" type="text" placeholder="0.00"></ion-input>
  </ion-item>

  <button  ion-button type="submit" block (click)="createAccount(date,accountname,payperiodbudget,opbalance)"> Add Account</button>
</ion-content>
